@using ShipperHN.Business.Entities
@model string[]
@{
  Post post = new Post();
  int index = 0;
}

<div class="location-nav">
  <div class="paginate">
    <ul>
      @foreach (string s in Model)
      {
        <li>
          <span class="current" style="background: @post.GetColor(s)"
                onclick='FilterByLocation("@s", @index, this)'>
            @s
                <span class="count"></span>
              </span>
              <div class="selected"></div>
            </li>
            index++;
          }
    </ul>
  </div>
</div>

<hr />